
<% if message.user.role == current_user.role%>
  <div id="message-<%= message.id %>" style="margin-left: 20px;" >
<% else %>
  <div id="message-<%= message.id %>" class="align-self-end" style="margin-right: 120px;" >
<% end %>
  <small>
    <strong><%= message.user.first_name%></strong>
    <iframe width="420" height="315" src="http://www.youtube.com/embed/cD4TAgdS_Xw" frameborder="0" allowfullscreen></iframe>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p ><%= message.content %></p>

</div>
