  <div id="message-<%= message.id %>"  class="d-flex flex-column text-wrap w-80 p-3 rounded mb-3 text-light <%=user_role_style(message)%>"   >
  <small >
    <%= add_image(message.user, 'avatar.png',class: "avatar-chat", crop: :thumb, gravity: :face, width:45, height:45) %>
    <strong><%= message.user.first_name%></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
     <% unless message.photo.key.nil? %>
     <div class="img-container">
        <%= cl_image_tag message.photo.key, width: 0.5, crop: :fill %>
      </div>
     <% end %>

     <% unless message.video.service_url.nil?%>
        <div class= "video-container">
          <%= cl_video_tag( message.video.key, :controls => true,
              :transformation => [
               width: 0.9 , crop: :fill,
              :quality=>70],
              :fallback_content => "Your browser does not support HTML5 video tags.",
              colors: { "base": "#0071ba", "accent": "#db8226", "text": "#fff" })
              %>
              <%#^^^^^^^^^ Set 'width: :auto' if  image too big^^^^^^^ %>
        </div>
        <% end %>


  <div class="text-break"><%= text_or_youtube(message)%></div>
</div>
