

  <div id="message-<%= message.id %>"  class="d-flex flex-column text-wrap w-80 p-3 rounded mb-3 text-light <%=user_role_style(message)%>"   >
  <small >
  <% if defined? current_user.photo.key %>
    <%= cl_image_tag message.user.photo.key, class: "avatar" %>
  <% else %>
    <%= image_tag 'avatar.png', class: "avatar" %>
  <% end %>
    <strong><%= message.user.first_name%></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
     <% unless message.photo.key.nil? %>
        <%= cl_image_tag message.photo.key, height: 300, width: 400, crop: :fill %>
     <% end %>

     <% unless message.video.service_url.nil?%>

          <%= cl_video_tag( message.video.key, :controls => true,
              :transformation => [
              :height=>300, :width=>400, crop: :fill,
              :quality=>70],
              :fallback_content => "Your browser does not support HTML5 video tags." )
              %>

        <% end %>


  <div class="text-break"><%= text_or_youtube(message)%></div>
</div>
<p >
