
<% if message.user.role == current_user.role%>
  <div id="message-<%= message.id %>" style="margin-left: 20px;" >
<% else %>
  <div id="message-<%= message.id %>" class="align-self-end" style="margin-right: 120px;" >
<% end %>
  <small>
    <strong><%= message.user.first_name%></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <div><%= youtube_link?(message.content) ? YouTubeAddy.youtube_embed_url(youtube_url_clean(message.content),420,315).html_safe : message.content %></div>

</div>
<p >
