

  <div id="message-<%= message.id %>"  >
  <small>
    <strong><%= message.user.first_name%></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    <%# <% if message.key.defined? %> %>
    <p><%= cl_image_tag message.photo.key, height: 300, width: 400, crop: :fill %></p>
    <%# <% end %>

  </small>
  <div><%= youtube_link?(message.content) ? YouTubeAddy.youtube_embed_url(youtube_url_clean(message.content),420,315).html_safe : message.content %></div>

</div>
<p >
