

  <div id="message-<%= message.id %>"  class="d-flex flex-column text-wrap w-80 p-3 rounded mb-3 text-light <%=user_role_style(message)%>"   >
  <small >
  <% unless message.user.photo.key.nil? %>
    <%= cl_image_tag message.user.photo.key, class: "avatar-chat", crop: :thumb, gravity: :face, width:45, height:45 %>
  <% else %>
    <%= image_tag 'avatar.png', class: "avatar-chat" %>
  <% end %>
    <strong><%= message.user.first_name%></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
     <% unless message.photo.key.nil? %>
        <%= cl_image_tag message.photo.key, width: :auto, crop: :fill %>
     <% end %>

     <% unless message.video.service_url.nil?%>
        <div class= "w-100">
          <%= cl_video_tag( message.video.key, :controls => true,
              :transformation => [
               width: :auto , crop: :fill,
              :quality=>70],
              :fallback_content => "Your browser does not support HTML5 video tags.",
              colors: { "base": "#0071ba", "accent": "#db8226", "text": "#fff" })
              %>
        </div>
        <% end %>


  <div class="text-break"><%= text_or_youtube(message)%></div>
</div>
<p >
