<%= simple_form_for [@course, @target] do |f| %>
  <%= f.input :name,
              required: true,
              label: t('label.target.name'),
              placeholder: t('label.target.name_placeholder')
  %>
  <%= f.association :parent, label: t('label.target.parent'), collection: @target_options %>
  <%= f.input :description,
              required: true,
              label: t('label.target.description'),
              placeholder: t('label.target.description_placeholder')
  %>
  <%= f.input :score_type,
              required: true,
              collection: [[t('label.form.score_float'), "float"], [t('label.form.score_integer'), "integer"], [t('label.form.score_boolean'), "boolean"]],
              label: t('label.target.score_type'),
              placeholder: t('label.target.score_type_placeholder'),
              prompt: t('label.form.prompt')
  %>
  <%= f.input :score,
              required: true,
              label: t('label.target.score'),
              placeholder: t('label.target.score_placeholder')
  %>
  <%= f.input :display, label: t('label.target.display') %>

  <div class="mt-4">
    <%= f.submit t('label.form.save'), class: "btn btn-success text-light" %>
    <%= link_to t('label.form.cancel'), :back, class: 'btn btn-secondary text-light'%>
  </div>
<% end %>
