<h3 class="mt-3"><i class="fas fa-comments me-3"></i>Chatroom
  <span  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle chatroom">
    <i class="fas fa-bars border p-2 rounded"></i>
  </span>
</h3>

<div class="collapse" id="navbarHeader">
  <div id="chatroom" class="container chatroom border mt-3 rounded border-success"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  >
    <div id="messages" class="messages d-flex flex-column align-items-start p-2 m-3"  data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <div>
      <%= simple_form_for [@chatroom, @message],
        remote: true,
        html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "row" } do |f|
      %>
      <%= f.input :content,
        label: false,
        as: :text,
        placeholder: "Message ##{@chatroom.name}",
        wrapper_html: {class: "col-12  flex-space-between"}
      %>

      <%= f.input :photo,
       as: :file,
       inline_label: "Image upload",
       wrapper_html: {class: "col-6 " }
       %>
           <%= f.input :video,
       as: :file,
       inline_label: "Video upload",
       wrapper_html: {class: "col-6 "}
       %>
      <%= f.submit "Send", class: "btn btn-success text-light w-50 align-self-center" %>
    <% end %>
    </div>
  </div>
</div>

<%# <script>
var chatToggle = document.getElementById('chat-toggle');


var lastElement = document.getElementById('messages').lastChild;
chatToggle.addEventListener("click", scrollDown(lastElement));

function scrollDown(lastElement) {

  lastElement.scrollIntoView(false);
}
</script> %>
