<%= simple_form_for [@course, @assignment] do |f| %>
  <% if current_user.role == "tutor" %>
    <%= f.input :title,
                required: true,
                label: t('label.assignment.title'),
                placeholder: t('label.assignment.title_placeholder')
    %>

    <%= f.input :target_id,
                as: :select,
                label: t('resources.target'),
                collection: Target.where(course: @course)
    %>

    <%= f.input :instruction,
                required: true,
                label: t('label.assignment.instruction'),
                placeholder: t('label.assignment.instruction_placeholder')
    %>
    <%= f.input :instruction_url,
                label: t('label.assignment.instruction_url'),
                placeholder: t('label.assignment.instruction_url_placeholder')
    %>
     <%= f.input :video,
              as: :file,
              label: t('label.assignment.instruction_video'),
              placeholder: t('label.assignment.instruction_video_placeholder')
            %>
    <%= f.input :checkpoint,
                required: true,
                label: t('label.assignment.checkpoint'),
                placeholder: t('label.assignment.checkpoint_placeholder')
    %>
  <% else %>
    <span><%= t('label.assignment.title') %></span>
    <div class="border mt-2 mb-3 p-2">
      <%= @assignment.title %>
    </div>

    <span><%= t('label.assignment.instruction') %></span>
    <div class="border mt-2 mb-3 p-2">
      <%= @assignment.instruction %>
    </div>

    <% unless @assignment.instruction_url.blank? %>
      <span><%= t('label.assignment.instruction_url') %></span>
      <div class="border mt-2 mb-3 p-2">
        <%= @assignment.instruction_url %>
      </div>
    <% end %>

    <span><%= t('label.assignment.checkpoint') %></span>
    <div class="border mt-2 mb-3 p-2">
      <%= @assignment.checkpoint %>
    </div>
  <% end %>

  <% unless @assignment.id.nil? %>
    <% if current_user.role == "tutor" %>
      <%= f.input :status,
                  collection: [["Work In Process", 0], ["Done", 1], ["Closed", 2]],
                  include_blank: false,
                  label: t('label.assignment.status')
      %>
    <% else %>
      <%= f.input :status,
                  collection: [["Work In Process", 0], ["Done", 1]],
                  include_blank: false,
                  label: t('label.assignment.status')
      %>
    <% end %>
  <% end %>

  <% unless @assignment.id.nil? %>
    <%= f.input :comment,
                label: t('label.assignment.comment'),
                placeholder: t('label.assignment.comment_placeholder')
    %>
    <%= f.input :material_url,
                label: t('label.assignment.material_url'),
                placeholder: t('label.assignment.material_url_placeholder')
    %>

    <% if current_user.role == "tutor" %>
      <%= f.input :review_comment,
                  label: t('label.assignment.review_comment'),
                  placeholder: t('label.assignment.review_comment_placeholder')
      %>
    <% else %>
      <span>Review Comment</span>
      <% unless @assignment.review_comment.blank? %>
      <div class="border mt-2 mb-3 p-2">
        <%= @assignment.review_comment %>
      </div>
      <% else %>
        <div class="ms-3 p-2 text-secondary">No data</div>
      <% end %>
    <% end %>
  <% end %>

  <%= f.input :start_date,
              html5: true,
              label: t('label.assignment.start_date')
  %>
  <%= f.input :end_date,
              html5: true,
              label: t('label.assignment.end_date')
  %>

  <div class="mt-4">
    <%= f.submit t('label.form.save'), class: "btn btn-success text-light" %>
    <%= link_to t('label.form.cancel'), :back, class: 'btn btn-secondary text-light'%>
  </div>
<% end %>
