<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %>
    <li class="breadcrumb-item active" aria-current="page">Assignments</li></ol>
</nav>

<h1>All Assignments View</h1>

<%= link_to "Back", :back, class: "btn btn-outline-success" %>


<table class="table table-responsive table-hover align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course</th>
      <% if current_user.role == "tutor" %>
        <th scope="col">Student</th>
      <% else %>
        <th scope="col">Tutor</th>
      <% end %>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Comment</th>
      <th scope="col">Period</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each_with_index do |assignment, index| %>
      <tr>
        <th scope="row"><%= link_to course_assignment_path(assignment.course, assignment), class: "text-decoration-none" do %><%= index + 1 %><% end %></th>
        <td scope="col"><%= assignment.course.name %></td>
        <td scope="col">
          <% if current_user.role == "tutor" %>
            <%= link_to student_path(assignment.course.student), class: "text-decoration-none" do %>
              <% if defined? assignment.course.student.photo.key %>
                <%= cl_image_tag assignment.course.student.photo.key, class: "avatar dropdown-toggle ml-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
              <% else %>
                <%= image_tag 'avatar.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
              <% end %>
              <%= assignment.course.student.first_name %> <%= assignment.course.student.last_name %>
            <% end %>
          <% else %>
            <%= link_to tutor_path(assignment.course.tutor), class: "text-decoration-none" do %>
              <% if defined? assignment.course.tutor.photo.key %>
                <%= cl_image_tag assignment.course.tutor.photo.key, class: "avatar dropdown-toggle ml-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
              <% else %>
                <%= image_tag 'avatar.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
              <% end %>
              <%= assignment.course.tutor.first_name %> <%= assignment.course.tutor.last_name %>
            <% end %>
          <% end %>
        </td>
        <td><%= assignment.title %></td>
        <td>
          <% if assignment.status == 0 %>
            Work In Process
          <% elsif assignment.status == 1 %>
            Done
            <% if current_user.role == "tutor" %>
              <%= link_to "Close", close_course_assignment_path(assignment.course, assignment), method: :put, class: "btn btn-warning", data: { confirm: 'Do you really want to close this?' } %>
            <% end %>
          <% else %>
            Closed
          <% end %>
        </td>
        <td><%= assignment.comment %></td>
        <td>from: <%= assignment.start_date %><br>
        to: <%= assignment.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
