<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Homework</li></ol>
</nav>


<div class="d-flex align-items-center mb-3">
  <i class="fas fa-tasks fa-2x me-3 mb-1"></i>
  <h1>All Homeworks</h1>
</div>
<div class="mt-5">
<%# fix below %>
  <% unless @assignments.count == 0 %>
    <% @assignments.each do |assignment| %>
      <div class="card-product d-flex justify-content-between mt-3 p-2">
        <%= link_to '', course_assignment_path(assignment.course, assignment), class: "card-link" %>
        <div class="card-main-info d-flex align-items-center">
          <%= add_image(assignment.course, 'No image.png', class: "card-product-img") %>
          <div class="card-product-infos">
            <div class="d-flex align-items-center">
              <h2><%= assignment.title %></h2>
              <div class="card-product-icon ms-3">
                <% if current_user.role == "tutor" %>
                  <%= add_image(assignment.course.student, 'avatar.png', class: "avatar-assignment") %>
                <% else %>
                  <%= add_image(assignment.course.tutor, 'avatar.png', class: "avatar-assignment") %>
                <% end %>
              </div>
            </div>
            <p><%= assignment.comment %></p>
          </div>
        </div>
        <div class="date">
          <p><i class="fas fa-calendar-check"></i> Due date</p>
          <p><%= assignment.end_date %></p>
        </div>
        <div class="buttons">
          <% if assignment.status == 0 %>
            <span class="badge rounded-pill bg-danger fs-5 me-3">Work In Process</span>
          <% elsif assignment.status == 1 %>
            <span class="badge rounded-pill bg-success fs-5 me-3">Pending</span>
          <% else %>
            <span class="badge rounded-pill bg-secondary fs-5 me-3">Completed</span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>
