<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Homework</li></ol>
</nav>

<h1>All Homework View</h1>
<div class="mt-5">
<%# fix below %>
  <% unless @assignments.count == 0 %>
    <% @assignments.each do |assignment| %>
      <div class="card-product d-flex justify-content-between mt-3 p-2">
        <%= link_to '', course_assignment_path(assignment.course, assignment), class: "card-link" %>
        <div class="card-main-info d-flex align-items-center">
          <% if defined? assignment.course.photo.key %>
            <%= cl_image_tag assignment.course.photo.key, class: "card-product-img" %>
          <% else %>
            <%= image_tag 'No image.png', class: "card-product-img" %>
          <% end %>
          <div class="card-product-infos">
            <div class="d-flex align-items-center">
              <h2><%= assignment.title %></h2>
              <div class="card-product-icon ms-3">
                <% if current_user.role == "tutor" %>
                  <% if defined? assignment.course.student.photo.key %>
                    <%= cl_image_tag assignment.course.student.photo.key, class: "avatar-assignment" %>
                  <% else %>
                    <%= image_tag 'avatar.png', class: "avatar-assignment" %>
                  <% end %>
                <% else %>
                  <% if defined? assignment.course.tutor.photo.key %>
                    <%= cl_image_tag assignment.course.tutor.photo.key, class: "avatar-assignment" %>
                  <% else %>
                    <%= image_tag 'avatar.png', class: "avatar-assignment" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <p><%= assignment.comment %></p>
          </div>
        </div>
        <div class="date">
          <p><i class="fas fa-calendar"></i> <%= assignment.start_date %></p>
          <p><i class="fas fa-calendar-check"></i> <%= assignment.end_date %></p>
        </div>
        <div class="buttons">
          <% if assignment.status == 0 %>
            <span class="badge rounded-pill bg-danger me-3">Work In Process</span>
            <% if current_user.role == "student" %>
              <%= link_to "Done", done_course_assignment_path(assignment.course, assignment), method: :put, class: "btn btn-danger text-white me-3", data: { confirm: 'Are you sure?' } %>
            <% end %>
          <% elsif assignment.status == 1 %>
            <span class="badge rounded-pill bg-success me-3">Pending</span>
            <% if current_user.role == "tutor" %>
              <%= link_to "Close", close2_course_assignment_path(assignment.course, assignment), method: :put, class: "btn btn-success me-3", data: { confirm: 'Do you really want to close this?' } %>
            <% end %>
          <% else %>
            <span class="badge rounded-pill bg-secondary me-3">Closed</span>
          <% end %>
        </div>

        <% if current_user.role == "tutor" %>
          <div class="dropdown">
            <button class="btn btn-sm btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Action
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to edit_course_assignment_path(assignment.course, assignment), class: "dropdown-item" do %>
                <i class="fas fa-edit"></i>
                Edit
                <% end %>
              </li>
              <li><%= link_to course_assignment_path(assignment.course, assignment), method: :delete, class: "dropdown-item", data: { confirm: 'Do you really want to delete the assignment?' } do %>
                <i class="fas fa-trash-alt"></i>
                Delete
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>

      </div>
    <% end %>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>
