<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to "Courses", courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Course Detail</li></ol>
</nav>

<div class="d-flex align-content-center">
  <h1><%= @course.name %></h1>

  <% if current_user.role == "tutor" %>
    <%= link_to edit_course_path(@course), class: "text-secondary ms-3" do %>
      <i class="fas fa-edit"></i>
    <% end %>
    <%= link_to course_path(@course), method: :delete, class: "text-secondary ms-1", data: { confirm: 'Do you really want to delete the course?' } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>

<% if current_user.role == "tutor" %>
  <%= link_to new_course_target_path(@course), class: "btn btn-success text-light" do %>
    <i class="fas fa-plus"></i>
    Target
  <% end %>
  <%= link_to new_course_assignment_path(@course), class: "btn btn-success text-light" do %>
    <i class="fas fa-plus"></i>
    Assignment
  <% end %>
<% end %>

<%= link_to "Back", :back, class: "btn btn-outline-success" %>

<%= line_chart  @data_hash,
  title: @course.name,
  xtitle: "Time",
  ytitle: "Point",
  download: {background: "#ffffff"}
%>

<h3 class="mt-3">Target Settings</h3>
<table class="table table-responsive table-hover align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Target Score</th>
      <th scope="col">The Latest Score</th>
      <th scope="col">The Best Score</th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each_with_index do |target, index| %>
      <tr>
        <td scope="row"><%= link_to course_target_progresses_path(@course, target), class: "text-decoration-none" do %><%= index + 1 %><% end %></td>
        <td><%= target.name %></td>
        <td><%= target.description %></td>
        <td><%= target.score %></td>
        <td>
          <% unless target.progresses.blank? %>
            <%= target.progresses.order(date: :desc).first.score %> (<%= target.progresses.order(date: :desc).first.date %>)
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <% unless target.progresses.blank? %>
            <%= target.progresses.order(score: :desc).first.score %> (<%= target.progresses.order(score: :desc).first.date %>)
          <% else %>
            -
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3 class="mt-3">Assignment</h3>
<table class="table table-responsive table-hover align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Instruction</th>
      <th scope="col">Checkpoints</th>
      <th scope="col">Status</th>
      <th scope="col">Comment</th>
      <th scope="col">Period</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each_with_index do |assignment, index| %>
      <tr>
        <td scope="row"><%= link_to course_assignment_path(@course, assignment), class: "text-decoration-none" do %><%= index + 1 %><% end %></td>
        <td><%= assignment.title %></td>
        <td><%= assignment.instruction %></td>
        <td><%= assignment.checkpoint %></td>
        <td>
          <% if assignment.status == 0 %>
            Work In Process
          <% elsif assignment.status == 1 %>
            Done
            <% if current_user.role == "tutor" %>
              <%= link_to "Close", close_course_assignment_path(@course, assignment), method: :put, class: "btn btn-warning", data: { confirm: 'Do you really want to close this?' } %>
            <% end %>
          <% else %>
            Closed
          <% end %>
        </td>
        <td><%= assignment.comment %></td>
        <td>from: <%= assignment.start_date %><br>
        to: <%= assignment.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <%= render 'chat'%>
