<nav aria-label="breadcrumb">
  <ol class="breadcrumb d-flex align-items-center">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('resources.course') + t('suffix.list'), courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.course') %><%= t('suffix.detail') %></li>
  </ol>
</nav>

<h2><i class="fas fa-university me-3"></i><%= @course.name %></h2>

<!-- ======= Graph ======= -->

<div class="card flex-md-row shadow mt-5 p-4 rounded mb-4">
  <%= line_chart  @data_hash,
    title: "#{@course.name} - #{t('resources.progress')}",
    xtitle: "Time",
    ytitle: "Score",
    download: {background: "#ffffff"}
  %>
</div>

<!-- ======= Target ======= -->
<h4 class="my-3">
  <i class="fas fa-bullseye me-2"></i>
  <%= t('resources.target') %><%= t('suffix.list') %>

  <% if current_user.role == "tutor" %>
    <%= link_to new_course_target_path(@course), id: "add-target", class: "ms-3" do %><%= show_add_button.html_safe %><% end %>
    <%= link_to upload_course_targets_path(@course), id: "upload-target" do %><%= show_upload_button.html_safe %><% end %>
  <% end %>

  <% if current_user.role.in?(["tutor", "student"]) %>
    <%= link_to export_course_targets_path(@course, format: :csv), id: "download-target" do %><%= show_download_button.html_safe %><% end %>
  <% end %>

  <span  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#targets" aria-controls="targets" aria-expanded="false" aria-label="Toggle Target">
    <i class="fas fa-bars border p-2 rounded"></i>
  </span>
</h4>

<div id="network-graph" class="card flex-md-row shadow mb-5 p-4 rounded"></div>

<div class="collapse show" id="targets">
  <% unless @targets.count == 0 %>
    <table class="table table-responsive table-hover align-middle">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <% if current_user.role == "tutor" %>
            <th scope="col"><%= t('label.form.edit') %></th>
          <% end %>
          <th scope="col"><%= t('label.target.name') %></th>
          <th scope="col"><%= t('label.target.description') %></th>
          <th scope="col"><%= t('label.target.score') %></th>
          <th scope="col"><%= t('label.target.display') %></th>
          <th scope="col"><%= t('label.target.latest_score') %></th>
          <th scope="col"><%= t('label.target.best_score') %></th>
          <% if current_user.role == "tutor" %>
            <th scope="col"><%= t('label.form.delete') %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @targets.each_with_index do |target, index| %>
          <tr>
            <td scope="row"><%= index + 1 %></td>
            <% if current_user.role == "tutor" %>
              <td>
                <%= link_to edit_course_target_path(target.course, target),
                    class: "edit-target" do %><%= show_edit_button.html_safe %><% end %>
              </td>
            <% end %>
            <td>
              <% element = target %>
              <% parentpath = "" %>
              <% until element.parent.nil? %>
                <% element = element.parent %>
                <% if element.parent.nil? %>
                  <% parentpath = "#{element.name} #{parentpath}" %>
                <% else %>
                  <% parentpath = "> #{element.name} #{parentpath}" %>
                <% end %>
              <% end %>
              <span class="text-secondary">
                <%= parentpath %>
                <% unless parentpath.blank? %>
                  >
                <% end %>
              </span>
              <%= link_to course_target_progresses_path(@course, target), class: "text-dark" do %>
                <strong><%= target.name %></strong>
              <% end %>
            </td>
            <td><%= target.description %></td>
            <td>
              <%= show_target_score(target) %>(<%= show_score_type(target) %>)
            </td>
            <td>
              <% if target.display == true %>
                <i class="fas fa-check-circle"></i>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% unless target.progresses.blank? %>
                <%= show_score(target.progresses.order(date: :desc).first) %> (<%= target.progresses.order(date: :desc).first.date %>)
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% unless target.progresses.blank? %>
                <%= show_score(target.progresses.order(score: :desc).first) %> (<%= target.progresses.order(score: :desc).first.date %>)
              <% else %>
                -
              <% end %>
            </td>
            <% if current_user.role == "tutor" %>
              <td>
                <%= link_to course_target_path(target.course, target),
                    method: :delete,
                    class: "delete-target ms-1",
                    data: { confirm: 'Do you really want to delete the target?' } do %><%= show_delete_button.html_safe %><% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>

<!-- ======= Homework ======= -->

<h4 class="mt-5">
  <i class="fas fa-tasks me-2"></i>
  <%= t('resources.assignment') %><%= t('suffix.list') %>

  <% if current_user.role == "tutor" %>
    <%= link_to new_course_assignment_path(@course), id: "add-assignment", class: "ms-3" do %><%= show_add_button.html_safe %><% end %>
    <%= link_to upload_course_assignments_path(@course), id: "upload-assignment" do %><%= show_upload_button.html_safe %><% end %>
  <% end %>

  <% if current_user.role.in?(["tutor", "student"]) %>
    <%= link_to export_course_assignments_path(@course, format: :csv), id: "download-assignment" do %><%= show_download_button.html_safe %><% end %>
  <% end %>

  <span  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#assignments" aria-controls="assignments" aria-expanded="false" aria-label="Toggle Homework">
    <i class="fas fa-bars border p-2 rounded"></i>
  </span>
</h4>

<% unless @open_assignments.count == 0 %>
  <div id="gannt-chart-0" class="card flex-md-row shadow mb-5 p-4 rounded"></div>
<% else %>
  <div class="card flex-md-row shadow mb-4 p-4 rounded text-secondary">
    <%= show_no_homework_message.html_safe %>
  </div>
<% end %>

<div class="collapse show" id="assignments">
  <% unless @assignments.count == 0 %>
    <%== pagy_bootstrap_nav(@pagy) %>
    <div class="mb-4">
      <table class="table table-responsive table-hover align-middle">
        <thead class="thead-dark">
          <tr>
            <th scope="col" width="5%">#</th>
            <th scope="col" width="5%"><%= t('label.form.edit') %></th>
            <th scope="col" width="15%"><%= t('label.assignment.title') %></th>
            <th scope="col" width="15%"><%= t('label.assignment.target') %></th>
            <th scope="col" width="25%"><%= t('label.assignment.instruction') %></th>
            <th scope="col" width="15%"><%= t('label.assignment.status') %></th>
            <th scope="col" width="15%"><%= t('label.assignment.period') %></th>
            <% if current_user.role == "tutor" %>
              <th scope="col" width="5%"><%= t('label.form.delete') %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @assignments_pagy.each_with_index do |assignment, index| %>
            <tr>
              <td scope="row"><%= index + 1 %></td>
              <td>
                <%= link_to edit_course_assignment_path(assignment.course, assignment),
                    class: "edit-assignment" do %><%= show_edit_button.html_safe %><% end %>
              </td>
              <td>
                <%= link_to course_assignment_path(@course, assignment), class: "text-dark" do %>
                  <%= assignment.title %>
                <% end %>
              </td>
              <td>
                <% if assignment.target %>
                  <%= link_to course_target_progresses_path(@course, assignment.target), target: :_blank do %>
                    <%= assignment.target.name if assignment.target %>
                  <% end %>
                  <i class="fas fa-external-link-alt"></i>
                <% else %>
                  -
                <% end %>
              </td>
              <td><%= assignment.instruction %></td>
              <td>
                <% if assignment.status == 0 %>
                  Work In Process
                <% elsif assignment.status == 1 %>
                  Done
                  <% if current_user.role == "tutor" %>
                    <%= link_to "Close", close_course_assignment_path(@course, assignment, anchor: 'assignments'), method: :put, class: "btn btn-success", data: { confirm: 'Do you really want to close this?' } %>
                  <% end %>
                <% else %>
                  Closed
                <% end %>
              </td>
              <td>
                <div>
                  from:
                  <% unless assignment.start_date.nil? %>
                    <%= assignment.start_date %>
                  <% else %>
                    (Not determined)
                  <% end %>
                </div>
                <div>
                  to:
                  <% unless assignment.end_date.nil? %>
                    <%= assignment.end_date %>
                  <% else %>
                    (Not determined)
                  <% end %>
                </div>
              </td>
              <% if current_user.role == "tutor" %>
                <td>
                  <%= link_to course_assignment_path(assignment.course, assignment),
                      method: :delete,
                      class: "delete-assignment",
                      data: { confirm: 'Do you really want to delete the homework?' } do %><%= show_delete_button.html_safe %><% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% end %>
</div>

<% if @course.tutor == current_user || @course.student == current_user %>
  <div class="mt-5">
    <%= render 'chat' %>
  </div>
<% end %>

<script src="https://code.highcharts.com/highcharts.js"></script>

<!-- highcharts-more: dumbbell, radar-chart -->
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<!-- highcharts-3d: draggable-box -->
<script src="https://code.highcharts.com/highcharts-3d.js"></script>

<!-- sankey: org-chart -->
<script src="https://code.highcharts.com/modules/sankey.js"></script>

<!-- organization: org-chart -->
<script src="https://code.highcharts.com/modules/organization.js"></script>

<!-- dumbbell: dumbbell -->
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>

<!-- networkgraph: network-graph -->
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>

<!-- exporting: draggable-box, network-graph, dumbbell, org-chart, radar-chart -->
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- export-data: draggable-box, dumbbell, radar-chart -->
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<!-- accessibility: draggable-box, network-graph, dumbell, org-chart, radar-chart -->
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- gannt: gannt -->
<script src="https://code.highcharts.com/gantt/modules/gantt.js"></script>
<%= javascript_pack_tag 'gannt-chart', 'data-turbolinks-track': 'reload', defer: true %>

<!-- network: network -->
<%= javascript_pack_tag 'network-graph', 'data-turbolinks-track': 'reload', defer: true  %>
