<div class="m-4">
  <h1>Assignment Detail - <%= @assignment.title %></h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Title</td>
        <td scope="row"><%= @assignment.title %></td>
      </tr>
      <tr>
        <td scope="row">Instruction</td>
        <td><%= @assignment.instruction %></td>
      </tr>
      <tr>
        <td scope="row">Comment</td>
        <td><%= @assignment.comment %></td>
      </tr>
      <tr>
        <td scope="row">Checkpoint</td>
        <td><%= @assignment.checkpoint %></td>
      </tr>
      <tr>
        <td scope="row">Status</td>
        <td>
          <% if @assignment.status == 0 %>
            Work In Process
          <% elsif @assignment.status == 1 %>
            Done
          <% else %>
            Closed
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Edit", edit_course_assignment_path(@assignment.course, @assignment), class: "btn btn-primary" %>
  <%= link_to "Back", course_assignments_path(@assignment.course), class: "btn btn-primary" %>
</div>
