<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Courses", courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Course Detail", course_assignments_path(@assignment.course), class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Homework Detail</li>
  </ol>
</nav>

<div class="row">

  <div class="col-8">
    <div class="mb-5 me-5 flex-grow-1">
      <div class="row">
        <div class="col-2 mb-3">
          <% if @assignment.status == 0 %>
            <span class="badge rounded-pill bg-danger me-3 fs-5">Work In Process</span>
          <% elsif @assignment.status == 1 %>
            <span class="badge rounded-pill bg-success me-3 fs-5">Pending</span>
          <% else %>
            <span class="badge rounded-pill bg-secondary me-3 fs-5">Closed</span>
          <% end %>
        </div>
      </div>
      <h1 class="mb-5"><%= @assignment.title %></h1>
      <div class="row">
        <div class="mb-3">
          <h4><i class="fas fa-book-reader me-2"></i>Instruction</h4>
          <p class="ms-3 p-2 border"><%= @assignment.instruction %></p>
          <p>
            <% unless @assignment.instruction_url.blank? %>
              <%= link_to @assignment.instruction_url, target: :_blank, class: "text-secondary ms-3" do %>
                <i class="fas fa-link me-2"></i><%= @assignment.instruction_url %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <h4><i class="fas fa-check-square me-2"></i>Checkpoint</h4>
          <p class="ms-3 p-2 border"><%= @assignment.checkpoint %></p>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <h4>
            <i class="fas fa-sticky-note me-2"></i>Student's Note
            <% if current_user.role == "student" %>
              <%= link_to edit_course_assignment_path(@assignment.course, @assignment), class:"btn btn-success" do %>
                <i class="fas fa-edit"></i>
                  Add your comment?
              <% end %>
            <% end %>
          </h4>
          <% unless @assignment.comment.blank? %>
            <p class="ms-3 p-2 border"><%= @assignment.comment %></p>
          <% else %>
            <p class="ms-3 p-2 text-secondary">No data</p>
          <% end %>
          <p>
            <% unless @assignment.material_url.blank? %>
              <%= link_to @assignment.material_url, target: :_blank, class: "text-secondary ms-3" do %>
                <i class="fas fa-link me-2"></i><%= @assignment.material_url %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <h4><i class="fas fa-check me-2"></i>Tutor's Review Comment
            <% if current_user.role == "tutor"%>
              <%= link_to review_course_assignment_path(@assignment.course, @assignment), class: "btn btn-success" do %>
                <i class="fas fa-edit"></i>
                Add your review?
              <% end %>
            <% end %>
          </h4>
          <% unless @assignment.review_comment.blank? %>
            <p class="ms-3 p-2 border"><%= @assignment.review_comment %></p>
          <% else %>
            <p class="ms-3 p-2 text-secondary">No data</p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-center me-2">
          <h5><i class="fas fa-calendar-check me-1"></i>
          Period</h5>
        </div>
        <div class="ms-3 p-2">
          <p>
            <% unless @assignment.start_date.nil? %>
              <%= @assignment.start_date.strftime("%b.%d, %Y") %>
            <% else %>
              (Not determined)
            <% end %>
            -
            <% unless @assignment.end_date.nil? %>
              <%= @assignment.end_date.strftime("%b.%d, %Y") %>
            <% else %>
              (Not determined)
            <% end %>
            <span class="badge rounded-pill bg-info ms-2 fs-7"><%= due_alert(@assignment) %></span>
          </p>
        </div>
      </div>
      <% if current_user.role == "tutor" && @assignment.status == 1 %>
        <%= link_to "Mark as completed", close2_course_assignment_path(@assignment.course, @assignment), method: :put, class: "btn btn-success me-3", data: { confirm: 'Do you really want to close this?' } %>
      <% end %>
      <% if current_user.role == "student" && @assignment.status == 0 %>
        <%= link_to "Submit", done_course_assignment_path(@assignment.course, @assignment), method: :put, class: "btn btn-danger text-white me-3", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>

  <div class="col-4">
    <div class="h-100">
      <% if defined? @assignment.course.photo.key %>
        <%= cl_image_tag @assignment.course.photo.key, class: "homework-img" %>
      <% else %>
        <%= image_tag 'No image.png', class: "homework-img" %>
      <% end %>
    </div>
  </div>
</div>
