<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to "Courses", courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to "Course Detail", course_assignments_path(@assignment.course), class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Assignment Detail</li>
  </ol>
</nav>

<div class="d-flex align-content-center">
  <h1>Assignment Detail - <%= @assignment.title %></h1>

  <%= link_to edit_course_assignment_path(@assignment.course, @assignment), class: "text-secondary ms-3" do %>
    <i class="fas fa-edit"></i>
  <% end %>
  <% if current_user.role == "tutor" %>
    <%= link_to course_assignment_path(@assignment.course, @assignment), method: :delete, class: "text-secondary ms-1", data: { confirm: 'Do you really want to delete the assignment?' } do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>

<%= link_to "Back", :back, class: "btn btn-outline-success" %>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Title</td>
      <td><%= @assignment.title %></td>
    </tr>
    <tr>
      <td scope="row">Instruction</td>
      <td><%= @assignment.instruction %></td>
    </tr>
    <tr>
      <td scope="row">Comment</td>
      <td><%= @assignment.comment %></td>
    </tr>
    <tr>
      <td scope="row">Checkpoint</td>
      <td><%= @assignment.checkpoint %></td>
    </tr>
    <tr>
      <td scope="row">Status</td>
      <td>
        <% if @assignment.status == 0 %>
          Work In Process
        <% elsif @assignment.status == 1 %>
          Done
        <% else %>
          Closed
        <% end %>
      </td>
    <tr>
      <td scope="row">Comment</td>
      <td><%= @assignment.comment %></td>
    </tr>
    <tr>
      <td scope="row">Start Date</td>
      <td><%= @assignment.start_date %></td>
    </tr>
    <tr>
      <td scope="row">End Date</td>
      <td><%= @assignment.end_date %></td>
    </tr>
  </tbody>
</table>
