<h1>Assignments#show</h1>
<p>Find me in app/views/assignments/show.html.erb</p>

<div class="container">
  <p><%= @assignment.title %></p>
  <p><%= @assignment.instruction %></p>
  <p><%= @assignment.comment %></p>
  <p><%= @assignment.checkpoint %></p>
  <p><%= @assignment.status %></p>
</div>
