<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('resources.course') + t('suffix.list'), courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('resources.course') + t('suffix.detail'), course_assignments_path(@assignment.course), class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.assignment') %><%= t('suffix.detail') %></li>
  </ol>
</nav>

<div class="row">

  <div class="col-12">
    <div class="mb-5 me-5 flex-grow-1">
      <div class="row">
        <div class="col-2 mb-3">
          <% if @assignment.status == 0 %>
            <span class="badge rounded-pill bg-danger me-3 fs-5">Work In Process</span>
          <% elsif @assignment.status == 1 %>
            <span class="badge rounded-pill bg-success me-3 fs-5">Pending</span>
          <% else %>
            <span class="badge rounded-pill bg-secondary me-3 fs-5">Closed</span>
          <% end %>
        </div>
      </div>
      <h1 class="mb-5"><%= @assignment.title %>
        <%= link_to edit_course_assignment_path(@assignment.course, @assignment),
                      class: "edit-assignment" do %><%= show_edit_button.html_safe %><% end %>
        <% if current_user.role == "tutor" %>
          <%= link_to course_assignment_path(@assignment.course, @assignment),
                        method: :delete,
                        class: "delete-assignment",
                        data: { confirm: 'Do you really want to delete the homework?' } do %><%= show_delete_button.html_safe %><% end %>
        <% end %>
      </h1>
      <div class="row">
        <div class="mb-3">
          <h4><i class="fas fa-bullseye me-2"></i><%= t('resources.target') %></h4>
          <% if @assignment.target %>
            <p class="ms-3 p-2 text-dark">
              <%= link_to course_target_progresses_path(@assignment.target.course, @assignment.target), target: :_blank, class: "text-dark" do %>
                <%= @assignment.target.name %>
              <% end %>
              <i class="fas fa-external-link-alt"></i>
            </p>
          <% else %>
            <p class="ms-3 p-2 text-secondary">No data</p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <h4><i class="fas fa-book-reader me-2"></i><%= t('label.assignment.instruction') %></h4>
          <p class="ms-3 p-2 border"><%= @assignment.instruction %></p>
          <% unless @assignment.instruction_url.blank? %>
            <p>
              <%= link_to @assignment.instruction_url, target: :_blank, class: "text-secondary ms-3" do %>
                <i class="fas fa-link me-2"></i><%= @assignment.instruction_url %>
              <% end %>
              <i class="fas fa-external-link-alt"></i>
            </p>
          <% end %>

          <% unless @assignment.instruction_video.key.nil?%>
            <div class="d-flex flex-column">
              <%= cl_video_tag @assignment.instruction_video.key,
                  :controls => true,
                  width: 400,
                  :fallback_content => "Your browser does not support HTML5 video tags.",
                  colors: { "base": "#0071ba", "accent": "#db8226", "text": "#fff" }
              %>
            </div>     <%#^^^^^^^^^ Set 'width: :auto' if  image too big^^^^^^^ %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <h4><i class="fas fa-check-square me-2"></i><%= t('label.assignment.checkpoint') %></h4>
          <p class="ms-3 p-2 border"><%= @assignment.checkpoint %></p>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <h4>
            <i class="fas fa-sticky-note me-2"></i><%= t('label.assignment.comment') %>
            <% if current_user.role == "student" %>
              <%= link_to edit_course_assignment_path(@assignment.course, @assignment), class: "btn btn-success" do %><%= t('.btn_comment') %><% end %>
            <% end %>
          </h4>
          <% unless @assignment.comment.blank? %>
            <p class="ms-3 p-2 border"><%= @assignment.comment %></p>
          <% else %>
            <p class="ms-3 p-2 text-secondary">No data</p>
          <% end %>
            <% unless @assignment.material_url.blank? %>
              <p>
                <%= link_to @assignment.material_url, target: :_blank, class: "text-secondary ms-3" do %>
                  <i class="fas fa-link me-2"></i><%= @assignment.material_url %>
                <% end %>
                <i class="fas fa-external-link-alt"></i>
              </p>
            <% end %>

            <% unless @assignment.material_video.key.nil?%>
              <p>
                <%= cl_video_tag @assignment.material_video.key,
                    controls: true,
                    width: 400,
                    :fallback_content => "Your browser does not support HTML5 video tags.",
                    colors: { "base": "#0071ba", "accent": "#db8226", "text": "#fff" }
                %>
                <%#^^^^^^^^^ Set 'width: :auto' if  image too big^^^^^^^ %>
              </p>
            <% end %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <h4><i class="fas fa-check me-2"></i><%= t('label.assignment.review_comment') %>
            <% if current_user.role == "tutor"%>
              <%= link_to review_course_assignment_path(@assignment.course, @assignment), class: "btn btn-success" do %><%= t('.btn_review') %><% end %>
            <% end %>
          </h4>
          <% unless @assignment.review_comment.blank? %>
            <p class="ms-3 p-2 border"><%= @assignment.review_comment %></p>
          <% else %>
            <p class="ms-3 p-2 text-secondary">No data</p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="d-flex align-items-center me-2">
          <h5><i class="fas fa-calendar-check me-1"></i>
          <%= t('label.assignment.period') %></h5>
        </div>
        <div class="ms-3 p-2">
          <p>
            <% unless @assignment.start_date.nil? %>
              <%= @assignment.start_date.strftime("%b.%d, %Y") %>
            <% else %>
              (Not determined)
            <% end %>
            -
            <% unless @assignment.end_date.nil? %>
              <%= @assignment.end_date.strftime("%b.%d, %Y") %>
            <% else %>
              (Not determined)
            <% end %>
            <span class="badge rounded-pill bg-info ms-2 fs-7"><%= due_alert(@assignment) %></span>
          </p>
        </div>
      </div>
      <% if current_user.role == "tutor" && @assignment.status == 1 %>
        <%= link_to "Mark as completed", close_course_assignment_path(@assignment.course, @assignment, anchor: 'assignments'), method: :put, class: "btn btn-success me-3", data: { confirm: 'Do you really want to close this?' } %>
      <% end %>
    </div>
  </div>
</div>
