<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Courses", courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Course Detail", course_assignments_path(@assignment.course), class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Homework Detail</li>
  </ol>
</nav>

<h1 class="mb-5">Homework Detail - <%= @assignment.title %></h1>
  <div class="row">
    <div class="col-2 mb-3">
      <h5><i class="fas fa-pen-nib"></i> Title</h5>
    </div>
    <div class="col-10">
      <h5><%= @assignment.title %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-3">
      <h5><i class="fas fa-book-reader"></i> Instruction</h5>
    </div>
    <div class="col-10">
      <h5><%= @assignment.instruction %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-3">
      <h5><i class="fas fa-check-square"></i> Checkpoint</h5>
    </div>
    <div class="col-10">
      <h5><%= @assignment.checkpoint %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-3">
      <h5><i class="fas fa-question"></i> Status</h5>
    </div>
    <div class="col-10">
      <% if @assignment.status == 0 %>
        <h5>Work In Process</h5>
      <% elsif @assignment.status == 1 %>
        <h5>Done</h5>
      <% else %>
        <h5>Closed</h5>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 mb-3">
      <h5><i class="fas fa-comments"></i> Comment</h5>
    </div>
    <div class="col-10">
      <h5><%= @assignment.comment %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-3">
      <h5><i class="fas fa-calendar"></i> Start date</h5>
    </div>
    <div class="col-10">
      <h5><%= @assignment.start_date %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2 mb-3">
      <h5><i class="fas fa-calendar-check"></i> End date</h5>
    </div>
    <div class="col-10">
      <h5><%= @assignment.end_date %></h5>
    </div>
  </div>
