<div class="container col-xl-6 col-lg-8 col-md-10 col-sm-12">
  <h1 class="h3 mb-3 fw-normal"><%= t('label.form.sign_up') %></h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="alert alert-warning" role="alert">
      <strong>!! WARNING !!</strong>
      <p>
        <%= t('.text_warning_note') %>
      </p>
    </div>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  label: t('label.user.email'),
                  autofocus: true,
                  input_html: { autocomplete: "email" }
      %>
      <%= f.input :password,
                  required: true,
                  label: t('label.user.password'),
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" }
      %>
      <%= f.input :password_confirmation,
                  required: true,
                  label: t('label.form.password_confirmation'),
                  input_html: { autocomplete: "new-password" }
      %>
      <%= f.input :first_name,
                  required: true,
                  label: t('label.user.first_name')
      %>
      <%= f.input :last_name,
                  required: true,
                  label: t('label.user.last_name')
      %>
      <%= f.input :nickname,
                  required: true,
                  label: t('label.user.nickname')
      %>
      <%= f.input :role,
                  required: true,
                  label: t('label.user.role'),
                  as: :select,
                  collection: ["tutor", "student"],
                  include_blank: true
      %>
      <%= f.input :photo,
                  as: :file,
                  label: t('label.user.photo')
      %>
    </div>

    <div class="form-actions mb-3">
      <%= f.button :submit,
                    t('label.form.sign_up'),
                    class: "btn btn-success text-light"
      %>
      <%= link_to t('label.form.cancel'),
                  root_path,
                  class: "btn btn-secondary text-light"
      %>
    </div>
    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
