<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are invited to a new course, <%= @user.first_name %>!</h1>
    <p>
      Your tutor invited you to a course.<br><br>
      Tutor: <%= @tutor.first_name %> <%= @tutor.last_name %>.<br>
      Course: <%= @course %>.
    </p>
    <p>
      Will you accept the invitation? <%= link_to "Accept", @url %>
    </p>
    <p>Good luck in your studies!</p>
    <br>
    <div>
      <p>Cheers,</p>
      <p>Nurture Dev Team</p>
    </div>
  </body>
</html>
