<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.text_title', name: @user.first_name) %></h1>
    <p>
      <%= t('.text_message') %><br><br>
      <%= t('.text_message_2', tutor_first_name: @tutor.first_name, tutor_last_name: @tutor.last_name) %><br>
      <%= t('.text_message_3', course_name: @course) %>.
    </p>
    <p>
      <%= t('.text_message_4') %> <%= link_to "#{t('label.form.accept')}", @url %>
    </p>
    <%= render '/user_mailer/footer_email' %>
  </body>
</html>
