<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are invited to a new course, <%= @user.first_name %>!</h1>
    <p>
      Your tutor invited you to a course.<br><br>
      Tutor: <%= @tutor.first_name %> <%= @tutor.last_name %>.<br>
      Course: <%= @course %>.
    </p>
    <p>
      To access to the course, click this link: <%= @url %>.
    </p>
    <p>Good luck in your studies!</p>
  </body>
</html>
