<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.text_title', name: @user.first_name) %></h1>
    <p>
      <%= t('.text_message') %>
    </p>
    <p>
      <ul>
      <% @user.changes.each do |key, value| %>
        <% if key != "updated_at" %>
          <li><%= key %></li>
        <% end %>
      <% end %>
      </ul>
    </p>
    <p>
      <%= t('.text_message_2', url: @url) %>
    </p>
    <p><%= t('user_mailer.shared.text_closing_message') %></p>
    <br>
    <div>
      <p><%= t('user_mailer.shared.text_signature') %></p>
      <p><%= t('user_mailer.shared.text_signature_2') %></p>
    </div>
  </body>
</html>
