<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('resources.course') + t('suffix.list'), courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('resources.course') + t('suffix.detail'), course_assignments_path(@target.course), class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.target') %><%= t('suffix.detail') %></li>
  </ol>
</nav>

<h2 class="mb-4"><i class="fas fa-chart-line me-3"></i><%= t('.text_title') %></h2>

<%= render 'form' %>
