<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Courses", courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Course Detail", course_assignments_path(@target.course), class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Target Detail</li>
  </ol>
</nav>

<h1>Target Detail - <%= @target.name %></h1>

<div class="card flex-md-row shadow mt-5 p-4 rounded">
  <%= line_chart  @data,
    title: @target.course.name,
    xtitle: "Time",
    ytitle: "Score",
    download: {background: "#ffffff"}
  %>
</div>

<div class="p-5">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><i class="fas fa-bullseye"></i> Your Target</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Course</td>
      <td><%= @target.course.name %></td>
    </tr>
    <tr>
      <td scope="row">Name</td>
      <td><%= @target.name %></td>
    </tr>
    <tr>
      <td scope="row">Parent</td>
      <td>
        <% unless @target.parent.nil? %>
          <%= link_to course_target_progresses_path(@target.course, @target.parent) do %>
            <%= @target.parent.name %>
          <% end %>
        <% else %>
          -
        <% end %>
      </td>
    </tr>
    <tr>
      <td scope="row">Description</td>
      <td><%= @target.description %></td>
    </tr>
    <tr>
      <td scope="row">Score</td>
      <td><%= @target.score %></td>
    </tr>
    <tr>
      <td scope="row">Display</td>
      <td><%= @target.display %></td>
    </tr>
  </tbody>
</table>
</div>

<!-- ======= Progress ======= -->
<h2> <i class="fas fa-chart-line me-3 "></i>
  Progress List

  <%= link_to new_course_target_progress_path(@target.course, @target), id: "add-progress", class: "ms-3" do %><%= show_add_button.html_safe %><% end %>
  <%= link_to upload_progresses_path(@target.course, @target), id: "upload-progress" do %><%= show_upload_button.html_safe %><% end %>
  <%= link_to export_progresses_path(@target.course, @target, format: :csv), id: "download-progress" do %><%= show_download_button.html_safe %><% end %>

  <span  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#progresses" aria-controls="progresses" aria-expanded="false" aria-label="Toggle Homework">
    <i class="fas fa-bars border p-2 rounded"></i>
  </span>
</h2>

<div class="collapse show" id="progresses">
  <% unless @progresses.count == 0 %>
    <table class="table align-middle">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Edit</th>
          <th scope="col">Date</th>
          <th scope="col">Score</th>
          <th scope="col">Comment</th>
          <th scope="col">Delete</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @progresses.each_with_index do |progress, index| %>
          <tr>
            <td>
              <%= index + 1 %>
            </td>
            <td>
              <%= link_to edit_course_target_progress_path(@course, @target, progress),
                  class: "edit-progress" do %><%= show_edit_button.html_safe %><% end %>
            </td>
            <td><%= progress.date %></td>
            <td><%= progress.score %></td>
            <td><%= progress.comment %></td>
            <td>
              <%= link_to course_target_progress_path(@course, @target, progress),
                  method: :delete,
                  class: "delete-progress",
                  data: { confirm: 'Do you really want to delete the progress info?' } do %><%= show_delete_button.html_safe %><% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>
