<h1>Target Detail - <%= @target.name %></h1>

<%= link_to "Edit Target", edit_course_target_path(@target.course, @target), class: "btn btn-success text-light" %>
<%= link_to "Add Progress", new_course_target_progress_path(@target.course, @target), class: "btn btn-success text-light" %>
<%= link_to "Back to Course", course_assignments_path(@target.course), class: "btn btn-success text-light" %>

<% if current_user.role == "tutor" %>
  <%= link_to "Delete Target", course_target_path(@target.course, @target), method: :delete, class: "btn btn-danger text-light", data: { confirm: 'Do you really want to delete the target?' } %>
<% end %>

<%= line_chart  [@data_hash],
  title: @target.course.name,
  xtitle: "Time",
  ytitle: "Score",
  download: {background: "#ffffff"}
%>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Name</td>
      <td><%= @target.name %></td>
    </tr>
    <tr>
      <td scope="row">Description</td>
      <td><%= @target.description %></td>
    </tr>
    <tr>
      <td scope="row">Score</td>
      <td><%= @target.score %></td>
    </tr>
    <tr>
      <td scope="row">Course</td>
      <td><%= @target.course.name %></td>
    </tr>
  </tbody>
</table>

<h2>Progress List</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Score</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @progresses.each_with_index do |progress, index| %>
      <tr>
        <td scope="row"><%= index + 1 %></td>
        <td><%= progress.date %></td>
        <td><%= progress.score %></td>
        <td><%= progress.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
