<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li>
      <%= link_to :back, class: "text-secondary me-3" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </li>
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Courses", courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Course Detail", course_assignments_path(@target.course), class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Target Detail</li>
  </ol>
</nav>

<h1>Target Detail - <%= @target.name %></h1>

<%= line_chart  @data,
  title: @target.course.name,
  xtitle: "Time",
  ytitle: "Score",
  download: {background: "#ffffff"}
%>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">Name</td>
      <td><%= @target.name %></td>
    </tr>
    <tr>
      <td scope="row">Description</td>
      <td><%= @target.description %></td>
    </tr>
    <tr>
      <td scope="row">Score</td>
      <td><%= @target.score %></td>
    </tr>
    <tr>
      <td scope="row">Course</td>
      <td><%= @target.course.name %></td>
    </tr>
  </tbody>
</table>

<h2 class="mt-5">Progress List
  <%= link_to new_course_target_progress_path(@target.course, @target), class: "btn btn-success text-light ms-3" do %>
  <i class="fas fa-plus"></i>
  Add Progress
  <% end %>
</h2>

<% unless @progresses.count == 0 %>
  <table class="table align-middle">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Edit</th>
        <th scope="col">Date</th>
        <th scope="col">Score</th>
        <th scope="col">Comment</th>
        <th scope="col">Delete</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @progresses.each_with_index do |progress, index| %>
        <tr>
          <td>
            <%= index + 1 %>
          </td>
          <td>
            <%= link_to edit_course_target_progress_path(@course, @target, progress), class: "btn btn-outline-success" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
          <td><%= progress.date %></td>
          <td><%= progress.score %></td>
          <td><%= progress.comment %></td>
          <td>
            <%= link_to course_target_progress_path(@course, @target, progress), method: :delete, class: "btn btn-outline-secondary", data: { confirm: 'Do you really want to delete the progress info?' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
            <%#= link_to "Edit", edit_course_target_progress_path(@course, @target, progress), class: "btn btn-success text-light" %>
            <%#= link_to "Delete", course_target_progress_path(@course, @target, progress), method: :delete, class: "btn btn-danger text-light", data: { confirm: 'Do you really want to delete the progress info?' }  %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <span class="ms-5 text-secondary">No data</span>
<% end %>
