<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('resources.course'), courses_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('resources.course') + t('suffix.detail'), course_assignments_path(@target.course), class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.target') %><%= t('suffix.detail') %></li>
  </ol>
</nav>

<h1 class="mb-5"><i class="fas fa-chart-line me-3 "></i>Upload Progress data (CSV)</h1>

<div class="m-5">
  <%= form_tag import_progresses_path(@target.course, @target), multipart: true do %>
    <div class="mt-5 mb-5">
      <div>
        <%= t('label.form.csv_file_select') %>
      </div>
      <%= file_field_tag :file %>

      <%= link_to "/sample/nurture_progress_sample.csv", class: "btn btn-success text-light" do %>
        <i class="fas fa-download"></i>
        <%= t('label.form.download_sample_csv') %>
      <% end %>
    </div>

    <div>
      <%= submit_tag t('label.form.upload'), class: "btn btn-success text-light" %>
      <%= link_to t('label.form.cancel'), course_target_progresses_path(@target.course, @target), class: "btn btn-secondary text-light" %>
    </div>
  <% end %>
</div>
