<nav aria-label="breadcrumb">
  <ol class="breadcrumb d-flex align-items-center">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to "Template", template_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Homework Template</li>
  </ol>
</nav>

<h1><i class="fas fa-bullseye me-3"></i>Homework Template - <%= @assignment_templates_set.name %>
  <%= link_to new_assignment_templates_set_assignment_template_path(@assignment_templates_set), class: "btn btn-success text-light ms-3" do %>
    <i class="fas fa-plus"></i>
    Homework Template
  <% end %>
</h1>

<% unless @assignment_templates.count == 0 %>
  <table class="table table-responsive table-hover align-middle">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Edit</th>
        <th scope="col">Title</th>
        <th scope="col">Instruction</th>
        <th scope="col">Instruction URL</th>
        <th scope="col">Checkpoint</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @assignment_templates.each_with_index do |assignment_template, index| %>
        <tr>
          <td scope="row"><%= index + 1 %></td>
          <td>
            <%= link_to edit_assignment_templates_set_assignment_template_path(assignment_template.assignment_templates_set, assignment_template), class: "btn btn-outline-success" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
          <td><%= assignment_template.title %></td>
          <td><%= assignment_template.instruction %></td>
          <td><%= assignment_template.instruction_url %></td>
          <td><%= assignment_template.checkpoint %></td>
          <% if current_user.role == "tutor" %>
            <td>
              <%= link_to assignment_templates_set_assignment_template_path(assignment_template.assignment_templates_set, assignment_template), method: :delete, class: "btn btn-outline-secondary ms-1", data: { confirm: 'Do you really want to delete the assignment template?' } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <span class="ms-5 text-secondary">No data</span>
<% end %>
