<nav aria-label="breadcrumb">
  <ol class="breadcrumb d-flex align-items-center">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('resources.template') + t('suffix.list'), template_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.assignment_template') %></li>
  </ol>
</nav>

<h2 class="mb-3"><i class="fas fa-bullseye me-2"></i><%= t('resources.assignment_template') %><%= t('suffix.list') %> - <%= @assignment_templates_set.name %></h2>

<% if @assignment_templates_set.user == current_user %>
  <%= link_to new_assignment_templates_set_assignment_template_path(@assignment_templates_set),
      id: "add-assignment-template",
      class: "ms-3",
      'data-toggle': "tooltip",
      title: t('label.form.add') do %><%= show_add_button.html_safe %><% end %>
  <%= link_to upload_assignment_templates_path(@assignment_templates_set),
      id: "upload-assignment-template",
      'data-toggle': "tooltip",
      title: t('label.form.upload') do %><%= show_upload_button.html_safe %><% end %>
<% end %>

<%= link_to export_assignment_templates_path(@assignment_templates_set, format: :csv),
      id: "download-assignment-template",
      'data-toggle': "tooltip",
      title: t('label.form.download') do %><%= show_download_button.html_safe %><% end %>

<% unless @assignment_templates.count == 0 %>
  <table id="assignment_templates" class="table table-responsive table-hover align-middle mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Edit</th>
        <th scope="col">Title</th>
        <th scope="col">Instruction</th>
        <th scope="col">Instruction URL</th>
        <th scope="col">Checkpoint</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>

    <tbody>
      <% @assignment_templates.each_with_index do |assignment_template, index| %>
        <tr>
          <td scope="row"><%= index + 1 %></td>
          <td>
            <% if assignment_template.assignment_templates_set.user == current_user %>
              <%= link_to edit_assignment_templates_set_assignment_template_path(assignment_template.assignment_templates_set, assignment_template),
                  class: "edit-assignment_template",
                  'data-toggle': "tooltip",
                  title: t('label.form.edit') do %><%= show_edit_button.html_safe %><% end %>
            <% end %>
          </td>
          <td><%= assignment_template.title %></td>
          <td><%= assignment_template.instruction %></td>
          <td><%= assignment_template.instruction_url %></td>
          <td><%= assignment_template.checkpoint %></td>
          <td>
            <% if current_user.role == "tutor" %>
              <% if assignment_template.assignment_templates_set.user == current_user %>
                <%= link_to assignment_templates_set_assignment_template_path(assignment_template.assignment_templates_set, assignment_template),
                    method: :delete,
                    class: "delete-assignment_template ms-1",
                    data: { confirm: 'Do you really want to delete the assignment template?' },
                    'data-toggle': "tooltip",
                    title: t('label.form.delete') do %><%= show_delete_button.html_safe %><% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <span class="ms-5 text-secondary">No data</span>
<% end %>
