<nav aria-label="breadcrumb">
  <ol class="breadcrumb d-flex align-items-center">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item" aria-current="page"><%= link_to t('resources.template') + t('suffix.list'), template_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.target_template') %></li>
  </ol>
</nav>

<h2 class="mb-3"><i class="fas fa-bullseye me-3"></i><%= t('resources.target_template') %> - <%= @target_templates_set.name %></h2>

<% if @target_templates_set.user == current_user %>
  <%= link_to new_target_templates_set_target_template_path(@target_templates_set),
      id: "add-target-template",
      class: "ms-3" do %><%= show_add_button.html_safe %><% end %>
  <%= link_to upload_target_templates_path(@target_templates_set),
      id: "upload-target-template" do %><%= show_upload_button.html_safe %><% end %>
<% end %>

<%= link_to export_target_templates_path(@target_templates_set, format: :csv),
    id: "download-target-template" do %><%= show_download_button.html_safe %><% end %>

<div id="network-graph" class="card flex-md-row shadow mt-4 mb-4 p-4 rounded"></div>

<% unless @target_templates.count == 0 %>
  <table id="target_templates" class="table table-responsive table-hover align-middle mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t('label.form.edit') %></th>
        <th scope="col"><%= t('label.target_template.name') %></th>
        <th scope="col"><%= t('label.target_template.description') %></th>
        <th scope="col"><%= t('label.target_template.score') %></th>
        <th scope="col"><%= t('label.form.delete') %></th>
      </tr>
    </thead>

    <tbody>
      <% @target_templates.each_with_index do |target_template, index| %>
        <tr>
          <td scope="row"><%= index + 1 %></td>
          <td>
            <% if @target_templates_set.user == current_user %>
              <%= link_to edit_target_templates_set_target_template_path(target_template.target_templates_set, target_template),
                  class: "edit-target_template" do %><%= show_edit_button.html_safe %><% end %>
            <% end %>
          </td>
          <td>
            <% element = target_template %>
            <% parentpath = "" %>
            <% until element.parent.nil? %>
              <% element = element.parent %>
              <% if element.parent.nil? %>
                <% parentpath = "#{element.name} #{parentpath}" %>
              <% else %>
                <% parentpath = "> #{element.name} #{parentpath}" %>
              <% end %>
            <% end %>
            <span class="text-secondary">
              <%= parentpath %>
              <% unless parentpath.blank? %>
                >
              <% end %>
            </span>
            <strong class="text-dark"><%= target_template.name %></strong>
          </td>
          <td><%= target_template.description %></td>
          <td><%= target_template.score %></td>
          <% if current_user.role == "tutor" %>
            <td>
              <% if @target_templates_set.user == current_user %>
                <%= link_to target_templates_set_target_template_path(target_template.target_templates_set, target_template),
                    method: :delete,
                    class: "delete-target_template ms-1",
                    data: { confirm: 'Do you really want to delete the target template?' } do %><%= show_delete_button.html_safe %><% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <span class="ms-5 text-secondary">No data</span>
<% end %>


<script src="https://code.highcharts.com/highcharts.js"></script>

<!-- networkgraph: network-graph -->
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>

<!-- exporting: draggable-box, network-graph, dumbbell, org-chart, radar-chart -->
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- accessibility: draggable-box, network-graph, dumbell, org-chart, radar-chart -->
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- network: network -->
<%= javascript_pack_tag 'network-graph', 'data-turbolinks-track': 'reload', defer: true  %>
