<h1 class="mb-5">Upload Target Templates (CSV)</h1>


<%= form_tag import_target_templates_path(@target_templates_set), multipart: true do %>
  <div class="mt-5 mb-5">
    <div>
      Choose CSV file:
    </div>
    <%= file_field_tag :file %>

    <%= link_to "/sample/nurture_target_template_sample.csv", class: "btn btn-success text-light" do %>
      <i class="fas fa-download"></i>
      Sample CSV
    <% end %>
  </div>

  <div>
    <%= submit_tag t('label.form.upload'), class: "btn btn-success text-light" %>
    <%= link_to t('label.form.cancel'), target_templates_set_target_templates_path(@target_templates_set), class: "btn btn-secondary text-light" %>
  </div>
<% end %>
