<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <% if current_user.role == "tutor" %>
      <li class="breadcrumb-item active" aria-current="page">Students</li>
    <% else %>
      <li class="breadcrumb-item active" aria-current="page">Tutors</li>
    <% end %>
  </ol>
</nav>

<div class="mt-3">
  <% if current_user.role == "tutor" %>
    <h1>Student List</h1>
  <% else %>
    <h1>Tutor List</h1>
  <% end %>

  <table class="table mt-5 table-responsive table-hover align-middle">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td>
            <%= add_image(user, 'avatar.png',class: "avatar dropdown-toggle ml-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width:40, height:40, crop: :fill) %>

            <% if current_user.role == "tutor" %>
              <%= link_to student_path(user), class: "text-dark" do %>
                <%= user.first_name %> <%= user.last_name %>
              <% end %>
            <% else %>
              <%= link_to tutor_path(user), class: "text-decoration-none" do %>
                <%= user.first_name %> <%= user.last_name %>
              <% end %>
            <% end %>
          </td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
