<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <% if current_user.role == "tutor" %>
      <li class="breadcrumb-item active" aria-current="page"><%= t('resources.student') %></li>
    <% else %>
      <li class="breadcrumb-item active" aria-current="page"><%= t('resources.tutor') %></li>
    <% end %>
  </ol>
</nav>

<div class="mt-3">
  <% if current_user.role == "tutor" %>
    <h2 class="mb-4">
      <i class="fas fa-user"></i>
      <%= t('resources.student') %><%= t('suffix.list') %>
    </h2>
  <% else %>
    <h2 class="mb-4">
      <i class="fas fa-chalkboard-teacher"></i>
      <%= t('resources.tutor') %><%= t('suffix.list') %>
    </h2>
  <% end %>

  <table class="table table-responsive table-hover align-middle">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t('label.user.name') %></th>
        <th scope="col"><%= t('label.user.nickname') %></th>
        <th scope="col"><%= t('label.user.email') %></th>
        <th scope="col"><%= t('label.user.role') %></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td>
            <%= add_image(user, 'avatar.png',class: "avatar dropdown-toggle ml-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width:40, height:40, crop: :fill) %>

            <% if current_user.role == "tutor" %>
              <%= link_to student_path(user), class: "text-dark" do %>
                <%= user.first_name %> <%= user.last_name %>
              <% end %>
              <% if user.deactivated == true %>
                <span class="ms-2 text-dark"> (deactivated)</span>
              <% end %>
            <% else %>
              <%= link_to tutor_path(user), class: "text-decoration-none" do %>
                <%= user.first_name %> <%= user.last_name %>
              <% end %>
              <% if user.deactivated == true %>
                <span class="ms-2 text-dark"> (deactivated)</span>
              <% end %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
