<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <% if current_user.role == "tutor" %>
      <li class="breadcrumb-item active" aria-current="page"><%= t('resources.student') %></li>
    <% else %>
      <li class="breadcrumb-item active" aria-current="page"><%= t('resources.tutor') %></li>
    <% end %>
  </ol>
</nav>

<div class="d-flex justify-content-between align-items-center mb-4">
  <% if current_user.role == "tutor" %>
    <h2>
      <i class="fas fa-user"></i>
      <%= t('resources.student') %><%= t('suffix.list') %>
    </h2>
    <%= form_tag students_path, class: "d-flex h-25 w-50", method: :get do %>
        <%= text_field_tag :q,
          params[:q],
          class: "form-control searchbar",
          placeholder: t('.text_search_placeholder')
        %>
        <%= submit_tag t('label.form.search'), class: "btn btn-success" %>
    <% end %>
  <% else %>
    <h2>
      <i class="fas fa-chalkboard-teacher"></i>
      <%= t('resources.tutor') %><%= t('suffix.list') %>
    </h2>
    <%= form_tag tutors_path, class: "d-flex h-25 w-50", method: :get do %>
        <%= text_field_tag :q,
          params[:q],
          class: "form-control searchbar",
          placeholder: t('.text_search_placeholder')
        %>
        <%= submit_tag t('label.form.search'), class: "btn btn-success" %>
    <% end %>
  <% end %>
</div>

<div>
  <table class="table table-responsive table-hover align-middle">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= t('label.user.name') %></th>
        <th scope="col"><%= t('label.user.nickname') %></th>
        <th scope="col"><%= t('label.user.email') %></th>
        <th scope="col"><%= t('label.user.role') %></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td>
            <%= add_image(user, 'avatar.png',class: "avatar dropdown-toggle ml-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width:40, height:40, crop: :fill) %>

            <% if current_user.role == "tutor" %>
              <% if user.visible %>
                <%= link_to student_path(user), class: "text-dark" do %>
                  <%= user.first_name %> <%= user.last_name %>
                <% end %>
              <% else %>
                <%= user.first_name %> <%= user.last_name %>
              <% end %>
              <% if user.deactivated == true %>
                <span class="ms-2 text-dark"> (deactivated)</span>
              <% end %>
            <% else %>
              <% if user.visible %>
                <%= link_to tutor_path(user), class: "text-dark" do %>
                  <%= user.first_name %> <%= user.last_name %>
                <% end %>
              <% else %>
                <%= user.first_name %> <%= user.last_name %>
              <% end %>
              <% if user.deactivated == true %>
                <span class="ms-2 text-dark"> (deactivated)</span>
              <% end %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
