<div class="navbar navbar-expand-sm navbar-light sticky-top navbar-lewagon bg-dark">
  <div class="container-fluid">
    <%= link_to dashboard_path, class: "navbar navbar-light text-light text-decoration-none d-flex" do %>
      <%= image_tag "Icoooonnnn-removebg-preview.png", size: "40x40" %>
      <span class="h4 ms-1 m-auto align-items-center">Nurture</span>
      <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <span class="text-light m-3"><%= current_user.first_name %> <%= current_user.last_name %>@<%= current_user.role %></span>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <% if defined? current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle ml-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% else %>
              <%= image_tag 'avatar.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Setting", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light"><%= link_to "Login", new_user_session_path, class: "nav-link" %></button>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
