<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'Dashboard', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Courses', courses_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Assignments', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Tutors', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Students', root_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
