<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse ">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column ">
      <li class="nav-item d-flex align-items-center">
        <i class="fas fa-chart-bar"></i>
        <%= link_to 'Dashboard', courses_path, class: "nav-link" %>
      </li>
      <li class="nav-item d-flex align-items-center">
        <i class="fas fa-users-class"></i>
        <i class="fas fa-pen"></i>
        <%= link_to 'Courses', courses_path, class: "nav-link" %>
      </li>
      <li class="nav-item d-flex align-items-center">
        <i class="fas fa-tasks"></i>
        <%= link_to 'Assignments', courses_path, class: "nav-link" %>
      </li>
      <li class="nav-item d-flex align-items-center">
        <i class="fas fa-chalkboard-teacher"></i>
        <%= link_to 'Tutors', courses_path, class: "nav-link" %>
      </li>
      <li class="nav-item d-flex align-items-center">
        <i class="fas fa-user"></i>
        <%= link_to 'Students', courses_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
