<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <i class="fas fa-home fa-2x mb-2 me-2"></i>
    <h1>Dashboard</h1>
  </div>
  <%= form_tag dashboard_path, class: "d-flex h-25 w-50", method: :get do %>
    <%= text_field_tag :q,
      params[:q],
      class: "form-control searchbar",
      placeholder: "Find a dashboard"
    %>
    <%= submit_tag "Search", class: "btn btn-success searchbox" %>
  <% end %>
</div>

<div class="mt-5">

  <%= render 'alert' %>

  <% unless @courses.count == 0 %>
    <div class="row">
      <% @courses.each_with_index do |course, index| %>
        <div class="col-6 mb-3">
          <div class="card h-100 shadow p-4 m-1 rounded">
            <%= line_chart  @data[index],
              title: course.name,
              xtitle: "Time",
              ytitle: "Score",
              download: {background: "#ffffff"}
            %>
            <div class="card-body row">
              <div class="col-8">
                <h5 class="card-title">
                  <%= link_to course_assignments_path(course), class: "text-dark" do %>
                    <%= course.name %>
                  <% end %>
                </h5>
                <p>
                  <% if current_user.role == "tutor" %>
                    <%= add_image(course.student, 'avatar.png', class: 'avatar dropdown-toggle',id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width:40, height:40) %>
                    <%= link_to student_path(course.student.id), class: "text-dark" do %>
                      <%= course.student.first_name %> <%= course.student.last_name %>
                    <% end %>
                  <% else %>
                    <%= add_image(course.tutor, 'avatar.png', class: 'avatar dropdown-toggle',id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width:40, height:40) %>
                    <%= link_to student_path(course.tutor.id), class: "text-decoration-none" do %>
                      <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                    <% end %>
                  <% end %>
                </p>
                <p class="card-text"><%= course.description %></p>
                <p class="card-text mb-4"><small class="text-muted">Created at <%= course.created_at.strftime("%F") %><%= course.created_at.strftime(" %I:%M%#p") %></small></p>
              </div>
              <div class="col-4 d-flex">
                <div class="align-self-end">
                  <%= add_image(course, 'No image.png', class: "w-100", style: "object-fit: cover;")  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>
