<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.home') %></li>
  </ol>
</nav>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h2><i class="fas fa-home me-2"></i><%= t('resources.dashboard') %></h2>
  <%= form_tag dashboard_path, class: "d-flex h-25 w-50", method: :get do %>
    <%= text_field_tag :q,
      params[:q],
      class: "form-control searchbar",
      placeholder: "Find a dashboard"
    %>
    <%= submit_tag t('label.form.search'), class: "btn btn-success searchbox" %>
  <% end %>
</div>

<% @waiting_courses.each do |course| %>
  <% if course.status == 0 %>
    <div class="alert alert-success mt-5" role="alert">
      <%= show_course_accept_request(course).html_safe %>
    </div>
  <% end %>
<% end %>


<div class="mt-3">
  <%= render 'alert' %>

  <% unless @courses.count == 0 %>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
        <% unless @org_data.count == 0 %>
          <div id="org-chart" class="card h-100 flex-md-row shadow p-4 rounded"></div>
        <% else %>
          <div class="card h-100 flex-md-row shadow p-4 rounded text-secondary">
            <%= t('.text_no_course') %>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
        <% unless @tree_data.count == 0 %>
          <div id="network-graph" class="card flex-md-row shadow p-4 rounded"></div>
        <% else %>
          <div class="card h-100 flex-md-row shadow p-4 rounded text-secondary">
            <%= t('.text_no_target') %>
          </div>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
        <% @gannt_chart_num.times do |index| %>
          <% gannt_chart_id = "gannt-chart-#{index}" %>
          <div id=<%= gannt_chart_id %> class="card flex-md-row shadow p-4 mb-3 rounded"></div>
        <% end %>
      </div>

      <% @courses.each_with_index do |course, index| %>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
          <div class="card h-100 shadow p-4 rounded">
            <%= line_chart  @data[index],
              title: course.name,
              xtitle: "Time",
              ytitle: "Score",
              download: {background: "#ffffff"}
            %>
            <div class="card-body row">
              <div class="col-12 mb-3">
                <h5 class="card-title text-dark">
                  <%= link_to course_assignments_path(course) do %>
                    <%= course.name %>
                  <% end %>
                </h5>
                <p class="card-text ms-3 text-secondary"><%= course.description %></p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-8">
                <% if current_user.role == "student" || current_user.users.any? %>
                  <p>
                    <%= add_image(course.tutor, 'avatar.png', class: 'avatar dropdown-toggle',id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width:40, height:40) %>

                    <% if course.tutor.visible %>
                      <%= link_to student_path(course.tutor.id), class: "text-dark" do %>
                        <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                      <% end %>
                    <% else %>
                      <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                    <% end %>

                    <% if current_user.users.any? %>
                    (Tutor)
                    <% end %>
                  </p>
                <% end %>
                <% if current_user.role == "tutor" %>
                  <p>
                    <%= add_image(course.student, 'avatar.png', class: 'avatar dropdown-toggle',id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width:40, height:40) %>

                    <% if course.student.visible %>
                      <%= link_to student_path(course.student.id), class: "text-dark" do %>
                        <%= course.student.first_name %> <%= course.student.last_name %>
                      <% end %>
                    <% else %>
                      <%= course.student.first_name %> <%= course.student.last_name %>
                    <% end %>

                    <% if current_user.users.any? %>
                    (Student)
                    <% end %>
                  </p>
                <% end %>
                <p class="card-text mb-4 d-none d-lg-block">
                  <small class="text-muted"><%= t('shared.main.text_created_at') %> <%= course.created_at.strftime("%F") %><%= course.created_at.strftime(" %I:%M%#p") %></small>
                </p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 d-flex">
                <div class="align-self-end">
                  <%= add_image(course, 'No image.png', class: "w-100 d-none d-lg-block", style: "object-fit: cover;")  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>

<!-- highcharts-more: dumbbell, radar-chart -->
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<!-- highcharts-3d: draggable-box -->
<script src="https://code.highcharts.com/highcharts-3d.js"></script>

<!-- sankey: org-chart -->
<script src="https://code.highcharts.com/modules/sankey.js"></script>

<!-- organization: org-chart -->
<script src="https://code.highcharts.com/modules/organization.js"></script>

<!-- networkgraph: network-graph -->
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>

<!-- exporting: draggable-box, network-graph, dumbbell, org-chart, radar-chart -->
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- export-data: draggable-box, dumbbell, radar-chart -->
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<!-- accessibility: draggable-box, network-graph, dumbell, org-chart, radar-chart -->
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- gannt: gannt -->
<script src="https://code.highcharts.com/gantt/modules/gantt.js"></script>

<!-- dumbbell: dumbbell -->
<!--
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>
-->

<%= javascript_pack_tag 'gannt-chart', 'data-turbolinks-track': 'reload', defer: true %>
<%= javascript_pack_tag 'org-chart', 'data-turbolinks-track': 'reload', defer: true %>
<%= javascript_pack_tag 'network-graph', 'data-turbolinks-track': 'reload', defer: true  %>
<%#= javascript_pack_tag 'radar-chart', 'data-turbolinks-track': 'reload', defer: true %>
<%#= javascript_pack_tag 'dumbbell', 'data-turbolinks-track': 'reload', defer: true %>
