<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <i class="fas fa-home fa-2x mb-2 me-2"></i>
    <h1>Dashboard</h1>
  </div>
  <%= form_tag dashboard_path, class: "d-flex h-25 w-50", method: :get do %>
    <%= text_field_tag :q,
      params[:q],
      class: "form-control searchbar",
      placeholder: "Find a dashboard"
    %>
    <%= submit_tag "Search", class: "btn btn-success searchbox" %>
  <% end %>
</div>

<% @waiting_courses.each do |course| %>
  <% if course.status == 0 %>
    <% if current_user.role == "student" %>
      <div class="alert alert-success mt-5" role="alert">
        Course "<%= course.name %>" created by "<%= link_to tutor_path(course.tutor) do %>
          <%= course.tutor.first_name %> <%= course.tutor.last_name %>
        <% end %>
        " is waiting for your accept.
        (<%= link_to "Accept now", accept_course_path(course) %>)
      </div>
    <% else %>
      <div class="alert alert-success mt-5" role="alert">
        Newly created "<%= course.name %>" is waiting for the accept by <%= course.student.nickname %>
      </div>
    <% end %>
  <% end %>
<% end %>


<div class="mt-5">
  <%= render 'alert' %>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
      <% unless @open_assignments.count == 0 %>
        <div id="gannt-chart" class="card flex-md-row shadow p-4 rounded"></div>
      <% else %>
        <div class="card flex-md-row shadow p-4 rounded">
          (No Homework remained
            <span class="ms-2">
              <% if current_user.role == "tutor" %>
                <%= emojify(":thinking:") %>
              <% else %>
                <%= emojify(":tada::tada::tada:") %>
              <% end %>
            </span>
          )
        </div>
      <% end %>
      </div>
  </div>

  <% unless @courses.count == 0 %>
    <div class="row">
      <% @courses.each_with_index do |course, index| %>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
          <div class="card h-100 shadow p-4 rounded">
            <%= line_chart  @data[index],
              title: course.name,
              xtitle: "Time",
              ytitle: "Score",
              download: {background: "#ffffff"}
            %>
            <div class="card-body row">
              <div class="col-12 mb-3">
                <h5 class="card-title text-dark">
                  <% unless current_user.role == "tutor" and current_user != course.tutor %>
                    <%= link_to course_assignments_path(course) do %>
                      <%= course.name %>
                    <% end %>
                  <% else %>
                    <%= course.name %> with <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                  <% end %>
                </h5>
                <p class="card-text ms-3 text-secondary"><%= course.description %></p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-8">
                <% if current_user.role == "student" %>
                  <p>
                    <%= add_image(course.tutor, 'avatar.png', class: 'avatar dropdown-toggle',id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width:40, height:40) %>
                    <%= link_to student_path(course.tutor.id), class: "text-dark" do %>
                      <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                    <% end %>
                  </p>
                <% end %>
                <% if current_user.role == "tutor" %>
                  <p>
                    <%= add_image(course.student, 'avatar.png', class: 'avatar dropdown-toggle',id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, width:40, height:40) %>
                    <%= link_to student_path(course.student.id), class: "text-dark" do %>
                      <%= course.student.first_name %> <%= course.student.last_name %>
                    <% end %>
                  </p>
                <% end %>
                <p class="card-text mb-4"><small class="text-muted">Created at <%= course.created_at.strftime("%F") %><%= course.created_at.strftime(" %I:%M%#p") %></small></p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 d-flex">
                <div class="align-self-end">
                  <%= add_image(course, 'No image.png', class: "w-100", style: "object-fit: cover;")  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>

<!-- ======= Sample Gallery ======= -->
<h3 class="my-3">
  <i class="far fa-chart-bar"></i>
  Other Sample Graph

  <span  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGalleryHeader" aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle Target">
    <i class="fas fa-bars border p-2 rounded"></i>
  </span>
</h3>

<div class="collapse" id="navbarGalleryHeader">
  <div class="row">

    <div class="col-sm-12 col-md-12 col-lg-6 mb-5">
      <div id="radar-chart" class="card flex-md-row shadow p-4 rounded"></div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
      <div id="dumbbell" class="card flex-md-row shadow p-4 rounded"></div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
      <div id="network-graph" class="card flex-md-row shadow p-4 rounded"></div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
      <div id="org-chart" class="card h-100 flex-md-row shadow p-4 rounded"></div>
    </div>
  </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>

<!-- highcharts-more: dumbbell, radar-chart -->
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<!-- highcharts-3d: draggable-box -->
<script src="https://code.highcharts.com/highcharts-3d.js"></script>

<!-- sankey: org-chart -->
<script src="https://code.highcharts.com/modules/sankey.js"></script>

<!-- organization: org-chart -->
<script src="https://code.highcharts.com/modules/organization.js"></script>

<!-- dumbbell: dumbbell -->
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>

<!-- networkgraph: network-graph -->
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>

<!-- exporting: draggable-box, network-graph, dumbbell, org-chart, radar-chart -->
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- export-data: draggable-box, dumbbell, radar-chart -->
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<!-- accessibility: draggable-box, network-graph, dumbell, org-chart, radar-chart -->
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<!-- gannt: gannt -->
<script src="https://code.highcharts.com/gantt/modules/gantt.js"></script>

<%= javascript_pack_tag 'gannt-chart', 'data-turbolinks-track': 'reload', defer: true %>
<%= javascript_pack_tag 'radar-chart', 'data-turbolinks-track': 'reload', defer: true %>
<%= javascript_pack_tag 'dumbbell', 'data-turbolinks-track': 'reload', defer: true %>
<%= javascript_pack_tag 'network-graph', 'data-turbolinks-track': 'reload', defer: true  %>
<%= javascript_pack_tag 'org-chart', 'data-turbolinks-track': 'reload', defer: true %>
