<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.knowledge') %></li>
  </ol>
</nav>

<h2 class="mb-4"><i class="fas fa-book-open"></i><%= t('resources.knowledge') %><%= t('suffix.list') %></h2>

<%= render "/posts/index" %>
