<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.report') %><%= t('suffix.list') %></li></ol>
</nav>

<h1><i class="fas fa-chart-line"></i> <%= t('resources.report') %><%= t('suffix.list') %></h1>

<div class="p-5">
  (Under Construction)
</div>
