<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.report') %><%= t('suffix.list') %></li></ol>
</nav>

<h1><i class="fas fa-chart-line"></i> <%= t('resources.report') %><%= t('suffix.list') %></h1>

<div class="mt-5">
  <% @courses.each do |course| %>
    <div class="row mb-3">
      <% course.targets.each do |target| %>
        <div class="col-12">
          <div class="card flex-md-row mb-4 shadow rounded">
            <div class="card-body col-sm-12 col-md-12 col-lg-8 col-xl-6 d-flex flex-column align-items-start inline p-4">
              <div class="fs-6 text-secondary">
                <%= course.name %>
              </div>
              <div class="fs-4">
                <% if course.tutor == current_user or course.student == current_user %>
                  <%= link_to new_course_target_progress_path(course, target) do %>
                    <%= target.name %>
                  <% end %>
                <% else %>
                  <%= target.name %>
                <% end %>
              </div>
              <div class="ms-3 mt-3 mb-1">
                <div>
                  <%= add_image(course.tutor, 'avatar.png', class: 'avatar-course', width:40, height:40) %>
                  <span class="fs-6 me-2">
                    <% if course.tutor.visible %>
                      <%= link_to tutor_path(course.tutor), class: "text-dark" do %>
                        <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                      <% end %>
                    <% else %>
                      <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                    <% end %>
                    <% if current_user.users.any? %>
                    (Tutor)
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
            <div class="card-body col-sm-12 col-md-6 col-lg-4 col-xl-2 align-items-start align-self-center">
              <div>Last Update</div>
              <div class="fs-5">
                <%= target.progresses.sort_by(&:date).last.date %>
              </div>
            </div>
            <div class="card-body col-sm-12 col-md-6 col-lg-4 col-xl-2 align-items-center align-self-center">
              <%= link_to course_target_progresses_path(course, target), class: "fs-4" do %>
                Past Records
              <% end %>
            </div>
            <%= add_image(course, 'No image.png', class: 'col-md-4 col-lg-4 col-xl-2 h-120', style: "object-fit:cover;") %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
