<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t('resources.home'), dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= t('resources.progress') %><%= t('suffix.list') %></li></ol>
</nav>

<h1><i class="fas fa-chart-line"></i> <%= t('resources.progress') %><%= t('suffix.list') %></h1>

<%= link_to print_report_path(format: :pdf), target: :_blank  do %>
  <span class='btn btn-success text-light'>
    <i class='fas fa-download'></i> <%= t('label.form.download_pdf') %>
  </span>
<% end %>

<div class="mt-5">
  <% if !@courses.nil? and @courses.count > 0  %>
    <div class="row mb-3">
      <% @courses.each do |course| %>
          <% course.targets.each do |target| %>
            <div class="col-12">
              <div class="card flex-sm-row mb-4 shadow rounded">
                <div class="card-body col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex flex-column align-items-start inline p-4">
                  <div class="fs-6 text-secondary">
                    <%= course.name %>
                  </div>
                  <div class="fs-4">
                    <%= link_to new_course_target_progress_path(course, target) do %>
                      <%= target.name %>
                    <% end %>
                  </div>
                  <div class="ms-3 mt-3 mb-1">
                    <% if current_user.role == "student" || current_user.users.any? %>
                      <div>
                        <%= add_image(course.tutor, 'avatar.png', class: 'avatar-course', width:40, height:40) %>
                        <span class="fs-6 me-2">
                          <% if course.tutor.visible %>
                            <%= link_to tutor_path(course.tutor), class: "text-dark" do %>
                              <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                            <% end %>
                          <% else %>
                            <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                          <% end %>
                          <% if current_user.users.any? %>
                            (Tutor)
                          <% end %>
                        </span>
                      </div>
                    <% end %>
                    <% if current_user.role == "tutor" %>
                      <div>
                        <%= add_image(course.student, 'avatar.png', class: 'avatar-course', width:40, height:40) %>
                        <span class="fs-6 me-2">
                          <% if course.student.visible %>
                            <%= link_to student_path(course.student), class: "text-dark" do %>
                              <%= course.student.first_name %> <%= course.student.last_name %>
                            <% end %>
                          <% else %>
                            <%= course.student.first_name %> <%= course.student.last_name %>
                          <% end %>
                          <% if current_user.users.any? %>
                            (Student)
                          <% end %>
                        </span>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="card-body col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3 align-items-start align-self-center text-center">
                  <span>Last Update: </span>
                  <span class="ms-3 fs-5">
                    <% if target.progresses.any? %>
                      <%= link_to course_target_progresses_path(course, target) do %>
                      <%= target.progresses.sort_by(&:date).last.date %>
                      <% end %>
                    <% else %>
                      (No data)
                    <% end %>
                  </span>
                  <p class="card-text d-none d-lg-block mt-3">
                    <small class="text-muted">Created at <%= target.created_at.strftime("%F") %><%= target.created_at.strftime(" %I:%M%#p") %></small>
                  </p>
                </div>

                <%= add_image(course, 'No image.png', class: 'col-md-4 col-lg-4 col-xl-2 h-120  d-none d-xl-block', style: "object-fit:cover;") %>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>
