<div class="container col-xl-6 col-lg-8 col-md-10 col-sm-12">
  <h1 class="h3 mb-3 fw-normal">
    <%= t('label.form.sign_in') %>
  </h1>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  label: t('label.user.email'),
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  label: t('label.user.password'),
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, label: t('.checkbox_remember_me'), as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions mb-3">
      <%= f.button :submit, t('label.form.sign_in'), class: "btn btn-success text-light" %>
      <%= link_to t('label.form.cancel'), :back, class: "btn btn-secondary text-light" %>
    </div>

    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
