  <%= simple_form_for @course do |f| %>
    <%= f.input :name,
                required: true,
                label: t('label.course.name'),
                placeholder: t('label.course.name_placeholder')
    %>
    <%= f.input :description,
                required: true,
                label: t('label.course.description'),
                placeholder: t('label.course.description_placeholder')
    %>
    <% unless @course.id.nil? %>
      <%= f.association :tutor,
        collection: User.where(role: "tutor", visible: true).or(User.where(id: current_user)).order(:first_name, :last_name),
        required: true,
        label: t('label.course.tutor'),
        prompt: t('label.form.prompt'),
        label_method: :select_label_fullname
      %>
    <% end %>
    <% if @course.id.nil? %>
      <%= f.association :student,
        collection: User.where(role: "student", visible: true).order(:first_name, :last_name),
        required: true,
        label: "#{t('label.course.student')} (#{t('label.user.nickname')})",
        prompt: t('label.form.prompt'),
        label_method: :select_label_nickname
      %>
    <% else %>
      <span><%= t('label.course.student') %></span>
      <div class="border mt-2 mb-3 p-2">
        <%= @course.student.first_name.capitalize %> <%= @course.student.last_name.capitalize %>
      </div>
    <% end %>
    <%= f.input :photo, label: t('label.course.photo'), as: :file %>

    <div class="mt-4">
      <%= f.submit t('label.form.save'), class: "btn btn-success text-light" %>
      <%= link_to t('label.form.cancel'), courses_path, class: 'btn btn-secondary text-light'%>
    </div>
  <% end %>
