<h2>Accept the Course invitation</h2>

<% if current_user == @course.student %>
  <div class="mt-3 ms-3">
  Do you accept this invitation?

    <div class="mt-4 ms-3">
      <div class="mt-3">
        <div>Name</div>
        <div class="ms-3 border p-2">
          <%= @course.name %>
        </div>
      </div>

      <div class="mt-3">
        <div>Description</div>
        <div class="ms-3 border p-2">
          <%= @course.description %>
        </div>
      </div>

      <div class="mt-3">
        <div>Tutor</div>
        <div class="ms-3 border p-2">
          <%= @course.tutor.first_name %> <%= @course.tutor.last_name %> (<%= @course.tutor.email %>)
        </div>
      </div>

      <div class="mt-5">
        <%= simple_form_for @course do |f| %>
          <%= f.input :status, as: :hidden %>
          <%= f.submit 'Save', class: "btn btn-success text-light" %>
          <%= link_to 'Cancel', root_path, class: 'btn btn-secondary text-light'%>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="mt-3 ms-3">
  You can't accept this invitation. Please login with the right student's account.
  </div>
<% end %>
