<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Courses</li>
  </ol>
</nav>

<div class="d-flex align-items-center mb-3">
  <i class="fas fa-university fa-2x me-2 mb-2"></i>
  <h1>Course List</h1>
</div>
<% if current_user.role == "tutor" %>
  <%= link_to new_course_path, class: "btn btn-success text-light" do %>
    <i class="fas fa-plus"></i>
    Course
  <% end %>
<% end %>

<div class="mt-3">
  <% unless @courses.count == 0 %>
    <div class="row mb-2">
      <% @courses.each do |course| %>
        <div class="col-md-6 mb-4">
          <div class="card flex-md-row mt-2 box-shadow h-100">
            <div class="card-body flex-column align-items-start">
              <div class="mb-2">
                <%= link_to course_assignments_path(course), class: "fs-3" do %>
                  <%= course.name %>
                <% end %>
                <% if current_user.role == "tutor" %>
                  <div>
                  <%= link_to edit_course_path(course), class: "btn btn-outline-success text-success ms-3", style: ".btn-outline-success:hover" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to course_path(course), method: :delete, class: "btn btn-outline-secondary text-secondary ms-1", data: { confirm: 'Do you really want to delete the course?' } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                  </div>
                <% end %>
              </div>
              <div class="mb-1">
                <% if current_user.role == "tutor" %>
                  <span class="fs-5 me-2">
                    <%= link_to student_path(course.student), class: "text-dark" do %>
                      <%= course.student.first_name %> <%= course.student.last_name %>
                    <% end %>
                  </span>
                  <%= add_image(course.student, 'avatar.png', class: 'avatar-course', width:40, height:40) %>
                <% else %>
                  <span class="fs-5 me-2">
                    <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                  </span>
                  <%= add_image(course.tutor, 'avatar.png', class: 'avatar-course', width:40, height:40) %>
                <% end %>
              </div>
              <div class="card-text ms-3 mb-auto text-secondary">
                <%= course.description %>
              </div>
            </div>
            <%= add_image(course, 'No image.png', class: 'card-img-right flex-auto d-none d-md-block', style: "width: 250px;  object-fit: cover;") %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>
