<div class="container">
  <h1>Courses</h1>

  <% if current_user.role == "tutor" %>
    <%= link_to 'Add Course', new_course_path, class: "btn btn-primary" %>
  <% end %>

  <table class="table table-responsive table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Tutor</th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each_with_index do |course, index| %>
      <tr>
          <td scope="row"><%= index + 1 %></td>
          <td><%= link_to course_path(course), class: "text-decoration-none" do %><%= course.name %><% end %></td>
          <td><%= course.description %></td>
          <td>
            <%= link_to user_path(course.tutor), class: "text-decoration-none" do %>
            <%= course.tutor.last_name %> <%= course.tutor.first_name %><br>(<%= course.tutor.email %>)
            <% end %>
          </td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>
