<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", dashboard_path, class: "text-secondary" %></li>
    <li class="breadcrumb-item active" aria-current="page">Courses</li>
  </ol>
</nav>

<h1 class = "mt-3">Course List</h1>

<% if current_user.role == "tutor" %>
  <%= link_to new_course_path, class: "btn btn-success text-light" do %>
    <i class="fas fa-plus"></i>
    Course
  <% end %>
<% end %>

<%= link_to "Back", :back, class: "btn btn-outline-success" %>

<div class="mt-5">
  <% unless @courses.count == 0 %>
    <table class="table table-responsive table-hover align-middle">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <% if current_user.role == "tutor" %>
            <th scope="col">Student</th>
          <% else %>
            <th scope="col">Tutor</th>
          <% end %>
          <th scope="col">Since</th>
        </tr>
      </thead>

      <tbody>
        <% @courses.each_with_index do |course, index| %>
        <tr>
            <td scope="row"><%= index + 1 %></td>
            <td><%= link_to course_assignments_path(course), class: "text-dark" do %><%= course.name %><% end %></td>
            <td><%= course.description %></td>
            <% if current_user.role == "tutor" %>
              <td>
                  <% if defined? course.student.photo.key %>
                    <%= cl_image_tag course.student.photo.key, class: "avatar dropdown-toggle ml-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
                  <% else %>
                    <%= image_tag 'avatar.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
                  <% end %>
                <%= link_to student_path(course.student), class: "text-dark" do %>
                  <%= course.student.last_name %> <%= course.student.first_name %>
                <% end %>
              </td>
            <% else %>
              <td>
                <%= link_to tutor_path(course.tutor), class: "text-dark" do %>
                  <% if defined? course.tutor.photo.key %>
                    <%= cl_image_tag course.tutor.photo.key, class: "avatar dropdown-toggle ml-3", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
                  <% else %>
                    <%= image_tag 'avatar.png', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
                  <% end %>
                  <%= course.tutor.first_name %> <%= course.tutor.last_name %>
                <% end %>
              </td>
            <% end %>
            <td>
              <%= course.created_at.strftime('%F') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <span class="ms-5 text-secondary">No data</span>
  <% end %>
</div>
