<div class="d-flex justify-content-between">
  <%= link_to "posts/new", id: "add-post" do %>
    <%= show_add_button.html_safe %>
  <% end %>
  <%= form_tag knowledge_path, class: "d-flex h-25 w-50 mt-3", method: :get do %>
      <%= text_field_tag :q,
        params[:q],
        class: "form-control searchbar",
        placeholder: "Find a post"
      %>
      <%= submit_tag t('label.form.search'), class: "btn btn-success searchbox" %>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) %>
  <% @posts.each do |p| %>
    <div class="mt-3">
      <div class="row mb-3">
        <div class="col-12">
          <div class="card flex-md-row mb-4 shadow rounded">
            <%= add_image(p, 'No image.png', class: 'card-img-right flex-auto d-none d-md-block', style: "width: 20%; object-fit: cover;") %>
            <div class="card-body col-md-8">
              <h5 class="card-title"><%= p.title %></h5>
              <p><%= p.likes.count %> likes</p>
              <!--
              <p class="card-text"><%= truncate(p.content, length: 100, separator: ' ') %></p>
              -->
              <p class="card-text"><small class="text-muted"><%="Created #{time_ago_in_words(p.created_at)} ago by #{p.user.first_name}"%></small>
              <%= add_image(p.user, 'avatar.png',class: "avatar-chat", crop: :thumb, gravity: :face, width:45, height:45) %></p>
              <%= link_to t('.btn_view_post'), post_path(p), class:"btn btn-success view-post" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
 <%== pagy_bootstrap_nav(@pagy) %>
