<h2><%= @post.title %>
<%= add_image(@post.user, 'avatar.png',class: "avatar-large",
              crop: :thumb, width:100, height:100) %>
</h2>

    <%= @post.content %>
  <ul class= "list-inline">
    <%= link_to 'back', '/knowledge'  %>
    <%= link_to 'delete', post_path(@post), confirm?: 'Are you sure?', method: :delete, class: "btn btn-secondary" %>
    <%= link_to 'edit', edit_post_path(@post)%>
  </ul>

    <h3>Comments  (<%= @post.comments.count %>) <span  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle chatroom">
    <i class="fas fa-bars border p-2 rounded"></i>
  </span></h2>
  <div class="collapse" id="navbarHeader">
    <% @post.comments.each  do |c| %>
      <p><%= c.content %></p>
      <%= link_to 'delete', post_comment_path(c.post, c), method: :delete, class:"btn btn-secondary" %>
    <% end %>

    <%= simple_form_for([@post, @post.comments.create])   do |f| %>
      <%= f.input :content, as: :text, wrapper_html: {class: "col-6 " } %>
      <%= f.button :submit, class: "btn btn-success"%>
    <% end %>
  </div>
