<h1>Edit the Review</h1>
<div>
  <%= simple_form_for [@tutor, @review], url: tutor_review_path, method: :patch do |f| %>
    <%= f.input :stars, required: true, as: :select, collection: 1..5  %> %>
    <%= f.input :comment %>
    <%= f.input :anonymous %>
    <%= f.submit 'Save', class: "btn btn-success text-light" %>
    <%= link_to 'Cancel', tutor_path(@review.tutor), class: 'btn btn-secondary text-light'%>
  <% end %>
</div>
