<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Team Nurture">
    <title>Nurture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>
  <body class="bg-white">
    <% unless current_page?(root_path) or request.fullpath.start_with?('/users/') %>
      <%= render 'shared/navbar'%>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <% unless current_page?(root_path) or request.fullpath.start_with?('/users/') %>
          <%= render 'shared/sidebarMenu'%>


        <main class="col-md-9 col-lg-10 px-md-4">
        <% end %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
