<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Team Nurture">

    <title>Nurture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "favicon.ico", options = {} %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <%# header section %>
  <body class="bg-white">
    <% unless current_page?(root_path) or request.fullpath.start_with?('/users/') %>
      <%= render 'shared/navbar'%>
    <% end %>

    <%# main section %>
    <div class="container-fluid d-flex flex-column h-100 section-container">
      <div class="row flex-grow-1">
        <% unless current_page?(root_path) or request.fullpath.start_with?('/users/') %>
          <%= render 'shared/sidebarMenu'%>
          <%#= render 'shared/sidebarDefault'%>
        <% end %>
        <main class="col-md-9 col-lg-10 px-md-4">
          <div class="m-4">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>

    <%# footer section %>

  </body>
</html>
